<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="{{user.image}}" class="card-img-top" alt="...">
            <div class="card-body">
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <h3>{{title}}</h3>
        <h5 class="card-title">FullName: {{user.fullname}}</h5>
        <h6 class="card-text">lastname: {{user.lastname}}</h6>
    </div>

</div>
<hr>
<h3>{{user}}</h3>